body, html {
    background: #000000;
    padding: 0 0;
    margin: 0;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    opacity: 0.0;
    background: #030E1F;
    box-shadow: inset 0 0 100px rgba(0,0,0,0.8);
    transition: opacity 1s ease .25s;
}
b {
    font-weight: 900;
}
a {
    color: #FFF;
    text-decoration: none;
}
img {
    max-width: 100%;
    align-self: center;
}
em {
    font-style: italic;
}
.padded-img {
    padding: 20px;
}
h2 {
    font-size: 30px;
    margin: 15px 0;
    font-weight: 500;
    color: #5A94AD;
}
h2.headline {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 3rem;
    line-height: 2.5rem;
    text-transform:uppercase;
    padding-bottom: 20px;
}
p, ul, a {
    color: #FFDD5D;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

ul.list-style li {
    padding-bottom: 20px;
}
ul.list-style{
    list-style:disc;
    padding-left: 30px;
}
.light-font {
    font-weight: 300;
}
.regular-font {
    font-weight: 500;
}
.medium-font {
    font-weight: 700;
}
.bold-font {
    font-weight: 900;
}
section, .medium-width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
}
.full-width {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.half-width {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 40px;
}
.medium-width {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 30px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
}
nav {
    display: flex;
    width: 100%;
}
#nav ul {
    width: 100%;
    justify-content: end;
    align-content: end;
}
#nav ul > li > a{
    margin: 0 40px;
    color: #FFDD5D;
    text-transform: uppercase;
    font-weight: 700;
    
}
#nav{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 10px 20px;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
}
.navbar {
    align-content:space-between;
}
#nav nav #main-brand, nav img {
    width: 200px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    background: #000;
    transition: all .25s;
}
#nav .navbar-expand-lg .navbar-nav .dropdown-menu a{
    color: #FFF;
    text-transform: none;
}
#nav .navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
    background: none;
    color: #F9521D;
    text-decoration: underline;
}
.tab-content > .active {
    display: flex;
  }
.dropdown-menu.show {
    transition: all .25s;
}
.section-text {
    padding: 0px 0;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#homeFirstVP{
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-bottom: 5px solid #FFDD5D;
    scroll-snap-align: start;
    padding-top: 100px;
}
#homeFirstVP #hero {
    text-align: center;
    font-weight: 500;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}
#homeFirstVP #hero #heroText {
    max-width: 800px;
    margin: 0 auto;
}
#homeFirstVP #hero #heroIconRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    padding: 0 10px;
}
#homeFirstVP #hero #heroIconRow img{
    max-width: 230px;
    margin-top: 20px;
}
#homeFirstVP #hero h1 {
    font-size: 6rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 4rem;
    text-shadow: rgba(0,0,0,0.8) 0 0 10px;
}
#homeFirstVP #hero h1 span.light-font {
    font-size: 4rem;
    line-height: 4rem;
}
#homeSecondVP{
    display: flex;
    scroll-snap-align: start;
}
#homeFirstVP #hero h2 {
    font-size: 2rem;
    color: #FFDD5D;
}
#homeSecondVPFirst{
    padding-top: 50px;
    min-width: 100%;
    z-index: 2;
    position: relative;
}
#homeSecondVPFirst .col-md-12 {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#homeSecondVPSecond {
    background: #2B2B2B;
    padding: 50px 0;
    margin: 0 auto;
    width: 100%;
}
#homeSecondVP ul {
    color: #FFDD5D;
    text-shadow: 0 0 12px #000000;
}
#homeSecondVP h2 {
    text-shadow: 0 0 12px #000000;
}
#homeFirstVPBkgrd video{
    overflow-y:hidden;
    overflow-x:hidden;
    height: 100vh;
    opacity: 0.3;
}
#homeFirstVPBkgrdVid{
    height: calc(100vh + 80px);
    min-width: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}
#iconsRow {
    text-align: center;
    min-height: 33vh;
    padding: 50px;
}
#iconsRow .row .horiz-line
{
  justify-self: center;
  align-self: center;
  margin: 0 0;
}
#iconsRow h2 {
  margin: 0 0;
  padding: 0 0;
  font-size: 24px;
}
.icons-row .client-icon {
    height: 100px;
    padding: 50px 30px 0;
    opacity: 0.5;
}
footer {
    scroll-snap-align: start;
}
/* ------ buttons --------------- */
.btn-row {
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}
.btn-row .btn {
    margin: 10px;
    max-width: 291px;
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}
.btn {
    height: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    min-width: 300px;
    border-radius: 5px;
    font-weight: 900;
    background: #FFFFFF;
    text-transform: uppercase;
    margin: 10px 0 0 0;
    transition: all .25s ease .25s;
    background: #FFDD5D;
    color: #5A94AD;
}
.btn:hover {
    background: #FFDD5D;
    color: #2B2B2B;
}
.cta-btn {
    background: #F9521D;
    color: #FFF;
}
.scnd-btn, .btn-secondary {
    background: #FFF;
    color: #5A94AD;
}

#clientsList {
    position: relative;
    top: -60px;
}
#iconsRow {
    border-bottom: 5px solid #FFDD5D;
}
footer {
    min-height: 400px;
    background: #999;
    padding:40px;
}
footer img.footer-logo-icon {
    max-width: 50px;
    height: auto;
}
.horiz-line {
    width: 100%;
    height: 1px;
    background-color: #CCC;
    margin-top: 10px;
}
footer .footer-links {
    padding: 20px 50px;
}
footer h3 {
    color: #FFF;
    font-weight: 900;
}
footer p, footer a {
    color: #333;
    font-size: .75rem;
}
.modal-dialog {
    position: absolute;
    top: calc(50% - 200px);
    right: calc(50% - 200px);
  }
  .modal-title {
    font-weight: 900;
  }
  .modal-body {
    font-weight: 500;
  }
  .modal .btn {
    width: 100%;
  }
  .modal-footer {
    border-radius: 0 0 5px 5px;
  }
  .service-icon {
    opacity: 1.0;
    position: relative;
    top: 0;
    transition: all 2s ease .15s;
}


.service-icon.animated-icon {
    opacity: 0.0;
    position: relative;
    top: 100px;
    transition: all .2s ease .15s;
}

.animate-me {
    opacity: 1.0;
    position: relative;
    left: 0;
    transition: all 1.5s ease .15s;
}

.animate-me.animated-slide-right {
    opacity: 0.0;
    position: relative;
    left: -50%;
    transition: all 1.5s ease .15s;
}

.animate-me.animated-slide-left {
    opacity: 0.0;
    position: relative;
    left: 50%;
    transition: all 1.5s ease .15s;
}
.close {
    font-size: 3rem;
    line-height: 40px;
    color: #999;
}
#contactSuccess h3 {
    background: #4CBB17;
    color: #FFF;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
}
#contact-form input, #contact-form label{
    display: block;
  }
  input, textarea {
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    margin: 5px 0 10px;
  }
  textarea {
    height: 100px;
  }
  label {
    color: #999;
    font-weight: 700;
  }
/* ------ TOP-LEVEL PAGES (not home) --------- */
.page-content {
    padding: 40px 0;
    min-height: calc(100vh - 1200px);
    background:  url('../img/honeycombBkgrd.png') #fafafa;
}
.page-content.alt-band {
    background:  url('../img/honeycombBkgrd.png') #f1f1f1;
}
ul {
    list-style-type: disc;
}
p {
    margin-bottom: 20px;
}
.align-middle {
    display: flex;
    align-self: center;
    margin-bottom: 0;
    flex-direction: column;
}
.page-heading {
    margin-top: 100px;
    background: no-repeat url('/img/honeycomb.jpg') #000 center center;
    background-size: contain;
    border-top: 5px solid #FFDD5D;
    color: #FFF;
    padding: 50px 0;
}
.page-heading-img {
    text-align: center;
}
.page-heading-img img{
    width: 600px;
}
.page-heading h1{
    font-weight: 700;
    font-size: 48px;
    color: #FFF;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin-bottom: 20px;
}
.heading-subtext {
    align-content: center;
}
.heading-subtext h3 {
    color: #FFDD5D;
    line-height: 48px;
    text-transform: uppercase;
} 
.page-heading {
    padding-top: 50px;
}
.page-wrapper {
    background: #FFFFFF;
}
.page-wrapper p, .page-wrapper h2, .page-wrapper h3, .page-wrapper ul {
color: #000;
line-height: 2rem;
}
.page-wrapper .heading-subtext p, .page-wrapper .heading-subtext h2, .page-wrapper .heading-subtext h3 {
    color: #FFF;
}
.service-page-section {
    padding: 40px 0;
}
.service-page-section ul {
    list-style: none;
}
tabnav {
    color: #999;
    font-weight: 700;
    font-size:14px;
    padding-top: 5px;
    text-transform: uppercase;
}
#myTabs {
display: flex;
margin: 20px auto;
justify-content: space-around;
border: none;
}
#myTabs li{
min-width: 250px;
font-size: 18px;
border: none;
}
#myTabs li a.nav-link {
font-size: 18px;
border-radius: 5px;
border: none;
background: #CCC;
color: #283347;
}
#myTabs li a .fa-solid {
margin-right: 10px;

}
#myTabs li a.nav-link.active {
background: #FFDD5D;
}
.tab-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.tab-img {
text-align: center;
}
.tab-img img {
width: 450px;
}
section.technologies {
    mix-blend-mode: luminosity;
    padding: 30px;
    background: rgba(0,0,0,0.1);
  }
  section.technologies img {
    width: 120px;
    max-width: 100%;
  }
  section.technologies .tech-img {
    display: flex;
    align-self: center;
    justify-self: center;
  }
  #eeStaffAugmentation {
    background: rgba(0,0,0,0.1);
    padding: 30px;
  }
  #eeStaffAugmentation .tab-img {
    align-self: center;
    justify-content:center;
    display: flex;
  }
/* ------ contact bar ----------- */
.contact-bar {
    background: #FFDD5D;
    padding: 20px;
  }
  .contact-bar span {
    color: #333;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
  }

/* ------ CASE STUDIES ---------- */
#caseStudiesHeading{
    background: url(/img/caseStudy/csHeading.png) no-repeat center center #000;
    background-size: cover;
}
.case-study-logo {
    justify-content: center;
    display: flex;
    padding: 40px;
  }
.case-study-port img {
    border-radius: 40px;
    margin: 10px;
}
/* ------ large screens --------- */
@media screen and (min-width: 2100px) {
    body{
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px) {
    #homeFirstVP #hero #heroIconRow img{
        max-width: 180px;
        margin-top: 20px;
    }
    #myTabs {
        display: none;
    }
    .tab-content > .tab-pane {
        display: initial;
        opacity: 1.0;
        display: flex;
        margin: 40px 0;
    }
    .tab-text {
        order: 2;
    }
    .tab-img{
        text-align: center;
        justify-self: center;
        align-self: center;
        display: flex;
        order: 1;
    }
    .service-page-section {
        padding: 0 0;
    }
    #eeStaffAugmentation .tab-img {
        justify-content: left;
    }
}
@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1700px;
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    body {
        scroll-snap-align: none;
    }
    #homeFirstVP #hero #heroIconRow img{
        margin-top: 20px;
    }
    #homeFirstVP{
        scroll-snap-align: none;
    }
    #homeSecondVP{
        scroll-snap-align: none;
    }
    footer {
        scroll-snap-align: none;
    }
}
@media screen and (max-width: 1000px) {
    body {
        scroll-snap-align: none;
    }
    #homeFirstVP {
        padding-top: 100px;
    }
    #homeFirstVP #hero h1 {
        font-size: 5rem;
    }
    .home-page p, .home-page ul.list-style, .home-page ul li {
        text-align: center;
        padding: 5px 15px;
        list-style: none;
    }
    .tab-img img {
        max-width: 220px !important;
        margin: 0 0;
    }
}
@media screen and (min-width: 800px) {
    .mbl-only {
        display: none !important;
    }
}
@media screen and (max-width: 800px) {

    #homeFirstVP #hero h1 {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    #homeFirstVP #hero h1 span.light-font {
        font-size: 3rem;
        line-height: 3rem;
    }
    #homeFirstVP #hero h2, p, ul, li {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    #homeFirstVP #hero #heroIconRow {
        margin-top: 20px;
    }
    .medium-width {
        padding: 0 0;
    }
    #nav nav #main-brand, nav img {
        max-width: 150px;
    }
    .headline {
        text-align: center;
    }
    .dsk-only {
        display: none !important;
    }
    .contact-bar p {
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .page-heading {
        background-size: cover;
    }
    .section-text {
        padding-bottom: 0;
    }
    .page-heading-img img {
        padding: 0 0 40px;
    }
}
/* ------- mobile screens --------- */
@media screen and (max-width: 600px){
    #homeFirstVP #hero #heroIconRow {
        padding: 20px;
    }
    #homeFirstVP #hero #heroIconRow img {
        max-width: 150px;
    }
    #homeFirstVP #hero h1 {
        font-size: 4rem;
        line-height: 3rem;
    }
    body, section, #homeFirstVP {
        height:fit-content;
        min-height: none;
    }
    #homeFirstVP #hero h1 span.light-font {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    #homeFirstVP{
        background-size: cover;
        min-height: 100vh;
        min-width: 100%;
        z-index: 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        border-bottom: 5px solid #FFDD5D;
    }
}